<!-- MAIN LOGO -->
<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="/assets/img/photo.png" class="biglogo">
                <h4><a href="https://discord.gg/V33Kfaj/" target="_blank" class="biglogo-cta">
                    Join our Community
                </a></h4>
            </div>
        </div>
    </div>
</section>