---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";


ul ul {
	padding-left: 3rem;
}

ul ul ul {
	padding-left: 6rem;
}

#section05 a span {
	// width: 100px;
}

#section05 a span {
	margin-left: -6px;
}
