/*---------------------------------------

    MAIN              

-----------------------------------------*/



/*	@font-face {

		font-family: "Oswald";

		src: url("../fonts/Oswald.OTF");

		src: url("../fonts/Oswald.ttf") format("woff"), url("../fonts/Oswald.otf") format("opentype"), url("../fonts/Oswald.svg#filename") format("svg"), url("../fonts/Oswald.svg#filename") format("svg");

	}
*/


	body {

		background: #ffffff;

		font-family: 'Helvetica', sans-serif;

		font-style: normal;

		font-weight: 300;

		overflow-x: hidden;

	}



/*---------------------------------------

    TYPOGRAPHY              

-----------------------------------------*/



	h1,h2,h3,h4,h5,h6 {

		font-family: 'Oswald', sans-serif;

		font-style: normal;

		letter-spacing: 0;

	}



	h1 {

		font-size: 80px;

		padding-bottom: 14px;

		margin-bottom: 0px;

	}



	h2 {

		font-size: 32px;

		text-align: center;

	}



	h2,h3 {

		padding-bottom: 6px;

	}



	h3 {

		font-size: 26px;

		color: #EC8F30;

	}



	h4 {

		color: #EC8F30;

		font-size: 24px;

		font-weight: normal;

		letter-spacing: 0;

	}



	p {

/*		font-size: 15px;

		font-weight: 300;

		line-height: 26px;

		letter-spacing: 0.2px;*/

	}



	.btn-success:focus {

		background-color: #000;

		border-color: transparent;

	}



/*---------------------------------------

    General               

-----------------------------------------*/



	html {

		-webkit-font-smoothing: antialiased;

	}



	a {

		color: #4d638c;

		-webkit-transition: 0.5s;

		-o-transition: 0.5s;

		transition: 0.5s;

		text-decoration: none !important;

	}



	a:hover, a:active, a:focus {

		color: #EC8F30;

		outline: none;

	}



	* {

		-webkit-box-sizing: border-box;

		-moz-box-sizing: border-box;

		box-sizing: border-box;

	}



	*:before,

	*:after {

		-webkit-box-sizing: border-box;

		-moz-box-sizing: border-box;

		box-sizing: border-box;

	}



	#about, 

	#gallery,

	#contact,

	#blog, 

	#blog-single-post {

		padding-top: 60px;

		padding-bottom: 80px;

	}



	.main-about,

	.main-single-post,

	.main-gallery,

	.main-contact {

		height: 20vh;

	}



	.overlay {

		background: rgba(0,0,0,0.7);

		width: 100%;

		height: 100vh;

		position: absolute;

		top: 0;

		left: 0;

		right: 0;

		bottom: 0;

	}



	.parallax-section {

		background-attachment: fixed !important;

		background-size: cover !important;

		overflow: hidden;

	}



/*---------------------------------------

    PRELOADER              

-----------------------------------------*/



	.preloader {

		position: fixed;

		top: 0;

		left: 0;

		width: 100%;

		height: 100%;

		z-index: 99999;

		display: flex;

		flex-flow: row nowrap;

		justify-content: center;

		align-items: center;

		background: none repeat scroll 0 0 #000;

	}

	

	.triangles {

		transform: translate(-50%, -50%);

		height: 81px;

		width: 90px;

		position: absolute;

		left: 50%;

		top: 50%;

	}



	.tri {

		position: absolute;

		animation: pulse 750ms ease-in infinite;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

		border-bottom: 0px;

	}

	

	.trifill {

		border-top: 27px solid #919191;		

	}

	

	.tri1 {

		border-top: 27px solid #EC8F30;

	}

	

	.tri.invert {

		border-top: 0px;

		border-bottom: 27px solid #EC8F30;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri.invert1 {

		border-top: 0px;

		border-bottom: 27px solid #919191;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri.invert2 {

		border-top: 0px;

		border-bottom: 27px solid #EC8F30;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri.invert3 {

		border-top: 0px;

		border-bottom: 27px solid #919191;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri.invert4 {

		border-top: 0px;

		border-bottom: 27px solid #EC8F30;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri.invert5 {

		border-top: 0px;

		border-bottom: 27px solid #EC8F30;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri.invert6 {

		border-top: 0px;

		border-bottom: 27px solid #919191;

		border-left: 15px solid transparent;

		border-right: 15px solid transparent;

	}

	

	.tri:nth-child(1) {

		left: 30px;

	}

	

	.tri:nth-child(2) {

		left: 15px;

		top: 27px;

		animation-delay: -125ms;

	}

	.tri:nth-child(3) {

		left: 30px;

		top: 27px;

	}

	.tri:nth-child(4) {

		left: 45px;

		top: 27px;

		animation-delay: -625ms;

	}

	.tri:nth-child(5) {

		top: 54px;

		animation-delay: -250ms;

	}

	.tri:nth-child(6) {

		top: 54px;

		left: 15px;

		animation-delay: -250ms;

	}

	.tri:nth-child(7) {

		top: 54px;

		left: 30px;

		animation-delay: -375ms;

	}

	.tri:nth-child(8) {

		top: 54px;

		left: 45px;

		animation-delay: -500ms;

	}

	.tri:nth-child(9) {

		top: 54px;

		left: 60px;

		animation-delay: -500ms;

	}

	@keyframes pulse {

		0% {

			opacity: 1;

		}

		16.666% {

			opacity: 1;

		}

		100% {

			opacity: 0;

		}

	}



/*---------------------------------------

    NAVBAR          

-----------------------------------------*/



	.containernavbar {

		width: 100%;

		padding: 0px 15px 0px 0px;

	}



	.navbar-brand {

		background-color: rgba(20, 20, 20, 0);

		font-family: 'Oswald', serif;

		letter-spacing: 0;

		display: table-cell;

		overflow: hidden;

		position: absolute;

		vertical-align: middle;

		margin: 0px;

		padding-top: 16px;

		color: #fff;

		font-size: 150%;

	}



	.navbar-default {

		background-color: rgba(20, 20, 20, 0);

		margin: 0 !important;

		position: fixed;

		width: 100%;

		color: #fff;

		font-family: 'Oswald', serif;

		letter-spacing: 0;

		margin: 0;

		border: 0px;

		font-size: 110%;

	}



	.show {

		background-color: rgba(20, 20, 20, 0.9);

		padding: 0px;

	}

	

	.transition {

		-webkit-transition: all 0.5s ease-in-out;

		-moz-transition: all 0.5s ease-in-out;

		-o-transition: all 0.5s ease-in-out;

		transition: all 0.5s ease-in-out;

		border: 0px;

	}

	

	.navbar-default .navbar-nav li a {

		color: #fff;

		font-family: 'Oswald', serif;

		font-size: 16px;

		letter-spacing: 0px;

		-webkit-transition: all 0.4s ease-in-out;

		transition: all 0.4s ease-in-out;

		padding-right: 10px;

		padding-left: 10px;

		font-size: 150%;

	}



	.navbar-default .navbar-nav > li a:hover {

		color: #EC8F30 !important;

	}



	.navbar-default .navbar-nav > li > a:hover,

	.navbar-default .navbar-nav > li > a:focus {

		color: #EC8F30;

		background-color: transparent;

	}



	.navbar-default .navbar-nav li a:hover,

	 .navbar-default .navbar-nav .active > a {

		color: #EC8F30;

	  }



	.navbar-default .navbar-nav > .active > a,

	.navbar-default .navbar-nav > .active > a:hover,

	.navbar-default .navbar-nav > .active > a:focus {

		color: #EC8F30;

		background-color: transparent;

	}



	.navbar-default .navbar-toggle {

		padding-top: 10px;

	  }



	.navbar-default .navbar-toggle .icon-bar {

		background: #EC8F30;

	  }



	.navbar-default .navbar-toggle:hover,

	.navbar-default .navbar-toggle:focus { 

	}



/*---------------------------------------

    HOME

-----------------------------------------*/



	#home {

		background-size: cover;

		-webkit-background-size: cover; /* safari may need this */

		background-position: center center;

		color: #ffffff;

		display: -webkit-box;

		display: -webkit-flex;

		display: -ms-flexbox;

		display: flex;

		-webkit-box-align: center;

		-webkit-align-items: center;

		-ms-flex-align: center;

		align-items: center;

		position: relative;

		text-align: center;

		padding-top: 60px;


	}



	#logo {

		background-size: cover;

		background-position: center center;

		color: #ffffff;

		display: -webkit-box;

		display: -webkit-flex;

		display: -ms-flexbox;

		display: flex;

		-webkit-box-align: center;

		-webkit-align-items: center;

		-ms-flex-align: center;

		align-items: center;

		position: relative;

		text-align: center;

		padding-top: 60px;

	}



	.swgohlogo {

		width: 100%;

	}

	

	.biglogo {

		max-width:480px;
		width: 100%;
		margin: 0 auto;

	}

a.biglogo-cta,
a.biglogo-cta:hover,
a.biglogo-cta:visited {
	padding: 1rem 2rem;
	min-width: 20rem;
	border-radius: 4px;
	display: inline-block;
	margin-top: 4rem;
	/*font-weight: 400;*/
	/*font-family: sans-serif;*/
	letter-spacing: 0;
}
a.biglogo-cta,
a.biglogo-cta:visited {
	border: 1px solid rgba(255, 255, 255, 0.8);
	color: rgba(255, 255, 255, 0.8);
	background: rgb(120, 120, 120);
	background: rgba(0, 0, 0, .4);
}
a.biglogo-cta:hover{
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 1);
}

/*rgba(236, 143, 48, 1);*/

	.main-home {

		background: url('/assets/img/photo.jpeg') no-repeat center;

		height: 100vh;

	}



	.main-about {

		background: url('/assets/img/second-bg.jpg') no-repeat;

	}



	.main-footer {

		background: url('/assets/img/IMG_482130.jpg') no-repeat center center;

		height: auto;

	}



	.main-logo {

		background: url('/assets/img/swgohbg.jpg') no-repeat center;

		height: 240px;

	}



	.main-logo img {

		margin-top: -50px;

	}



	.main-single-post {

		background: url('/assets/img/third-bg.jpg') no-repeat;

	}



	.main-gallery {

		background: url('/assets/img/gallery-bg.jpg') no-repeat;

	}



	.main-contact {

		background: url('/assets/img/fourth-bg.jpg') no-repeat;

	}



	#particles-js {

		position: absolute;

		width: 100%;

		height: 100vh;

		top: 0;

		left: 0;

	}



	#home h4 {

		color: #EC8F30;

	}



	#home .btn {

		background: #EC8F30;

		border: 2px solid #ffffff;

		border-radius: 100px;

		color: #444;

		font-family: 'Oswald', serif;

		font-size: 10px;

		font-weight: bold;

		letter-spacing: 0;

		padding: 13px 22px;

		margin-top: 42px;

		transition: all 0.4s ease-in-out;

	}



	#home .btn:hover {

		background: transparent;

		border-color: #ffffff;

		color: #ffffff;

	}



/*---------------------------------------

   ABOUT

-----------------------------------------*/



	#about .col-md-6 {

		padding-top: 22px;

		padding-bottom: 32px;

	}



	#about .col-md-6 img {

		padding: 22px 0px 22px 22px;

	}



	#about .col-md-4 {

		padding-bottom: 32px;

	}



	#about .col-md-4 img {

		padding-top: 12px;

	}



/*---------------------------------------

   GALLERY

-----------------------------------------*/



	#gallery span {

		display: block;

		padding-bottom: 32px;

	}



	#gallery .col-md-6 {

		padding-left: 0px;

		padding-right: 0px;

	}



	#gallery .gallery-thumb {

		background-color: #ffffff;

		box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);

		cursor: pointer;

		display: block;

		position: relative;

		top: 0px;

		transition: all 0.4s ease-in-out;

	}



	#gallery .gallery-thumb:hover {

		box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);

		top: -5px;

	}



	#gallery .gallery-thumb img {

		width: 100%;

	}



	#gallery .col-md-12 p {

		padding-top: 22px;

		text-align: center;

	}



/*---------------------------------------

   CONTACT

-----------------------------------------*/



	#contact .col-md-4 {

		padding-left: 0px;

	}



	#contact .col-md-12 {

		padding-left: 0;

	}



	#contact form {

		padding-top: 32px;

	}



	#contact .form-control {

		border: 2px solid #f0f0f0;

		box-shadow: none;

		margin-top: 10px;

		margin-bottom: 10px;

		transition: all 0.4s ease-in-out;

	}



	#contact .form-control:hover {

		border-color: #555;

	}



	#contact input {

		height: 50px;

	}



	#contact input[type="submit"] {

		background: #EC8F30;

		border-radius: 100px;

		border: none;

		color: #ffffff;

		font-weight: bold;

		transition: all 0.4s ease-in-out;

	}



	#contact input[type="submit"]:hover {

		background: #333;

	}







/*---------------------------------------

   BLOG

-----------------------------------------*/



	.blog-post-thumb {

		border-bottom: 1px solid #f0f0f0;

		padding-top: 32px;

		padding-bottom: 62px;

		margin-bottom: 32px;

	}



	.blog-post-thumb:last-child {

		border-bottom: 0px;

		padding-bottom: 32px;

		margin-bottom: 0px;

	}



	.blog-post-image,

	.blog-post-video {

		padding-top: 22px;

		padding-bottom: 22px;

		width: 100%;

		background: url(/assets/img/swgohbg.jpg);

	}



	#about img,

	.blog-post-image img {

		border-radius: 1px;

	}



	.blog-post-title a {

		color: #222;

	}



	.blog-post-title a:hover {

		color: #EC8F30;

	}



	.blog-post-format {

		padding-bottom: 22px;

	}



	.blog-post-format span {

		letter-spacing: 0;

		padding-right: 12px;

	}



	.blog-post-format span a {

		color: #333;

	}



	.blog-post-format span img {

		display: inline-block;

		width: 42px;

		margin-right: 4px;

	}



	.blog-post-des blockquote {

		margin: 22px;

	}



	.blog-post-des .btn {

		border-radius: 100px;

		color: #777;

		font-weight: bold;

		letter-spacing: 0;

		margin-top: 26px;

		transition: all 0.4s ease-in-out;

	}



	.blog-post-des .btn:hover {

		background: #EC8F30;

		border-color: transparent;

		color: #ffffff;

	}



	.blog-author {

		border-top: 1px solid #f0f0f0;

		border-bottom: 1px solid #f0f0f0;

		padding-top: 32px;

		padding-bottom: 32px;

		margin-top: 42px;

		margin-bottom: 42px;

	}



	.blog-author .media img {

		display: inline-block;

		width: 90px;

		margin-right: 12px;

	}



	.blog-author .media a,

	.blog-comment .media h3 {

		color: #444;

		font-size: 18px;

		letter-spacing: 0;

	}



	.blog-comment {

		border-bottom: 1px solid #f0f0f0;

		padding-bottom: 32px;

		margin-bottom: 42px;

	}



	.blog-comment .media:nth-child(2) {

		padding-top: 22px;

	}



	.blog-comment .media img {

		width: 82px;

		margin-right: 12px;

	}



	.blog-comment .media h3 {

		display: inline-block;

		padding-right: 14px;

	}





	.blog-comment-form h3 {

		padding-bottom: 18px;

	}



	#about .col-md-6, #about .col-md-4,

	.blog-comment-form .col-md-4 {

		padding-left: 0px;

	}



	.blog-comment-form .form-control {

		box-shadow: none;

		border: 2px solid #f0f0f0;

		margin-top: 10px;

		margin-bottom: 10px;

		transition: all 0.4s ease-in-out;

	}



	.blog-comment-form .form-control:hover {

		border-color: #555;

	}



	.blog-comment-form input {

		height: 45px;

	}



	.blog-comment-form input[type="submit"] {

		background: #EC8F30;

		border-radius: 100px;

		border: none;

		color: #ffffff;

		font-weight: bold;

		transition: all 0.4s ease-in-out;

	}



	.blog-comment-form input[type="submit"]:hover {

		background: #333;

		border-color: transparent;

		color: #ffffff;

	}



/*---------------------------------------

   BLOG AND SINGLE POST

-----------------------------------------*/



	#blog-single-post .blog-single-post-image {

		padding-top: 22px;

	}



	#blog-single-post .blog-single-post-image .col-md-4 {

		padding-left: 0px;

		padding-right: 0px;

		padding-bottom: 22px;

	}



	#blog-single-post .blog-single-post-image img {

		border-radius: 1px;

		padding-right: 12px;

	}



	#blog-single-post .blog-post-des h3 {

		padding-top: 16px;

	}



/*---------------------------------------

   FOOTER

-----------------------------------------*/



	footer {

		background: #000;

		color: #ffffff;

		/*padding: 80px 0px;*/

	}



	footer .col-md-4 .fa {

		color: #ffffff;

		padding-right: 8px;

	}



	footer hr {

		border-color: #ffffff;

		margin-top: 62px;

		margin-bottom: 42px;

	}



	footer .footer-copyright {

		padding-top: 12px;

	}







/*---------------------------------------

   BACK TO TOP BUTTON

-----------------------------------------*/



	.go-top {

		background-color: #ffffff;

		box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );

		transition : all 1s ease;

		bottom: 2em;

		right: 2em;

		color: #333;

		font-size: 24px;

		display: none;

		position: fixed;

		text-decoration: none;

		width: 40px;

		height: 40px;

		line-height: 38px;

		text-align: center;

		border-radius: 100%;

	}



	.go-top:hover {

		background: #EC8F30;

		color: #ffffff;

	}



/*---------------------------------------

   SOCIAL ICONS

-----------------------------------------*/



	.social-icon {

		position: relative;

		padding: 0;

		margin: 0;

		text-align: center;

	}



	.social-icon li {

		display: inline-block;

		list-style: none;

	}



	.social-icon li a {

		border: 2px solid #fff;

		color: #fff;

		border-radius: 100px;

		cursor: pointer;

		font-size: 16px;

		text-decoration: none;

		transition: all 0.4s ease-in-out;

		width: 50px;

		height: 50px;

		line-height: 50px;

		text-align: center;

		vertical-align: middle;

		position: relative;

		margin: 22px 12px 10px 12px;

	}



	.social-icon li a:hover {

		border-color: #EC8F30;

		color: #EC8F30;

		transform: scale(1.1);

	}



/*---------------------------------------

   MOBILE RESPONSIVE

-----------------------------------------*/



	@media (max-width: 9000px) {

		#rig li {

				width:25%;

			}

		#rig2 li {

				width:20%;

			}

		#rig3 li {

				width:10%;

			}

	}

	

	@media (max-width: 980px) {

		.main-about,

		.main-single-post,  

		.main-gallery,

		.main-contact {

				height: 30vh;

			}


			

		.containernavbar {

				padding: 0px 0px 0px 10px;

			}

			

		.biglogo {

			margin-top: -40px;

			width: 100%;

		}

	}





	@media (max-width: 768px) {

		#rig li {

				width:33%;

			}

		#rig2 li {

				width:33%;

			}

		#rig3 li {

				width:10%;

			}

			

		h1 {

				font-size: 52px;

			}



		h2 {

				font-size: 26px;

			}



		#about .col-md-6 img {

				padding-left: 0px;

			}



		#blog-single-post .blog-single-post-image img {

				padding-bottom: 22px;

			}



		footer .col-md-4 {

				padding-top: 22px;

			}



			

		.containernavbar {

				padding: 0px 0px 0px 10px;

			}

			

		.biglogo {

			margin-top: -40px;

			width: 100%;

		}

	}



	@media (max-width: 700px) {

		#rig li {

				width:33.33%;

			}

		#rig2 li {

				width:33.33%;

			}

		#rig3 li {

				width:33.33%;

			}

			

		.containernavbar {

				padding: 0px 0px 0px 10px;

			}

			

		.biglogo {

			margin-top: -40px;

			width: 100%;

		}

	}



	@media (max-width: 650px) {

		h1 {

		font-size: 42px;

		}



		#about, #gallery,

		#contact,

		#blog, #blog-single-post {

			padding-top: 60px;

			padding-bottom: 60px;



		}

			

		.containernavbar {

				padding: 0px 0px 0px 10px;

			}

			

		.biglogo {

			margin-top: -40px;

			width: 100%;

		}

	}



	@media (max-width: 550px) {

		#rig li {

				width:50%;

			}

		#rig2 li {

				width:50%;

			}

		#rig3 li {

				width:25%;

			}

			

		.containernavbar {

				padding: 0px 0px 0px 10px;

			}

			

		.biglogo {

			margin-top: -40px;

			width: 100%;

		}

	}



	@media only screen and (max-width: 480px) {

		.col {

				margin: 1% 0 1% 0%;

			}

		.span_3_of_3, .span_2_of_3, .span_1_of_3 {

				width: 100%;

			}

			

		.containernavbar {

				padding: 0px 0px 0px 10px;

			}

			

		.biglogo {

			margin-top: -40px;

			width: 100%;

		}

	}



/*---------------------------------------

   GUILD RIG

-----------------------------------------*/



	#rig {

		max-width:100%;

		margin:0 auto; /*center aligned*/

		padding:0;

		font-size:0; /* Remember to change it back to normal font size if have captions */

		list-style:none;

		background-color:#ffffff;

	}

	

	#rig li {

		display: inline-block;

		*display:inline;/*for IE6 - IE7*/

		width:25%;

		vertical-align:middle;

		box-sizing:border-box;

		margin:0;

		padding:0;

	}

	

	.rig-cell {

		/*margin:12px;

		box-shadow:0 0 6px rgba(0,0,0,0.3);*/

		display:block;

		position: relative;

		overflow:hidden;

		padding: 5px;

		text-align: center;

	}

	

	.rig-cell h3 {

		font-size:18px;

		font-family:'Oswald', sans-serif;

		font-weight:normal;

		

	}

	

	.rig-img {

		display:block;

		width: 100%;

		height: auto;

		border:none;

		transform:scale(1);

		transition:all 1s;

	}#rig li:hover .rig-img {

		transform:scale(1.05);

	}

	

	.rig-overlay {

		position: absolute;

		display:block;

		top: 0;

		left: 0;

		bottom: 0;

		right: 0;

		margin: auto;

		background: #EC8F30 url(img/link.png) no-repeat center 20%;

		background-size:50px 50px;

		opacity:0;

		filter:alpha(opacity=0);/*For IE6 - IE8*/

		transition:all 0.2s;

	}

	

	#rig li:hover .rig-overlay {

		opacity:0.9;

	}

	

	.rig-text {

		display:block;

		padding:0 30px;

		box-sizing:border-box;

		position:absolute;

		left:0;

		width:100%;

		text-align:center;

		text-transform:capitalize;

		font-size:24px;

		font-weight:bold;

		font-family: Helvetica, sans-serif;

		font-weight:normal!important;

		top:32%;

		color:white;

		opacity:0;

		filter:alpha(opacity=0);/*For older IE*/

		transform:translateY(-20px);

		transition:all .3s;

	}

	

	#rig li:hover .rig-text {

		transform:translateY(0px);

		opacity:0.9;

	}



/*---------------------------------------

   GUIDES RIG

-----------------------------------------*/



	#rig2 {

		max-width:100%;

		margin:0 auto; /*center aligned*/

		padding:0;

		font-size:0; /* Remember to change it back to normal font size if have captions */

		list-style:none;

		background-color:#ffffff;

	}

	

	#rig2 li {

		display: inline-block;

		*display:inline;/*for IE6 - IE7*/

		width:20%;

		vertical-align:middle;

		box-sizing:border-box;

		margin:0;

		padding:0;

	}

	

	.rig-cell2 {

		margin:12px;

		box-shadow:0 0 6px rgba(0,0,0,0.3);

		display:block;

		position: relative;

		overflow:hidden;

		padding: 5px;

		text-align: center;

	}

	

	.rig-cell2 h3 {

		font-size:18px;

		font-family:'Oswald', sans-serif;

		font-weight:normal;

		

	}

	

	.rig-img2 {

		display:block;

		width: 100%;

		height: auto;

		border:none;

		transform:scale(1);

		transition:all 1s;

	}

	

	#rig2 li:hover .rig-overlay {

		opacity:0.9;

	}

	

	#rig2 li:hover .rig-text {

		transform:translateY(0px);

		opacity:0.9;

	}



/*---------------------------------------

   RANCOR RIG

-----------------------------------------*/



	#rig3 {

		max-width:100%;

		margin:0 auto; /*center aligned*/

		padding:0;

		font-size:0; /* Remember to change it back to normal font size if have captions */

		list-style:none;

		background-color:#ffffff;

	}

	

	#rig3 li {

		display: inline-block;

		*display:inline;/*for IE6 - IE7*/

		width:10%;

		vertical-align:top;

		box-sizing:border-box;

		margin:0;

		padding:0;

	}

	

	.rig-cell3 {

		margin:0px;

		display:block;

		position: relative;

		overflow:hidden;

		padding: 5px;

		text-align: center;

	}

	

	.rig-cell3 h3 {

		font-size:12px;

		color: black;

		font-family:'Oswald', sans-serif;

		font-weight:normal;

		

	}

	

	.rig-imgds {

		display:block;

		width: 100%;

		height: auto;

		transform:scale(1);

		transition:all 1s;

		border-radius: 50%;

		border:4px solid #B03233;

	}



	.rig-imgls {

		display:block;

		width: 100%;

		height: auto;

		border:none;

		transform:scale(1);

		transition:all 1s;

		border-radius: 50%;

		border:4px solid #3F8CBA;

	}

	

/*---------------------------------------

   DISCORD BOT ACCORDION

-----------------------------------------*/



	#accordion{

		margin:auto;

		width:100%;

		font-family: 'Helvetica', serif;

	}



	#accordion ul{

		list-style:none;

		margin:0;

		padding:0;

		font-family: 'Helvetica', serif;

	}



	.accordion{

		display:none;

		font-family: 'Helvetica', serif;

	}



	.accordion:target{

		display:block;

		font-family: 'Helvetica', serif;

	}



	#accordion ul li a{

		text-decoration:none;

		display:block;

		padding:10px;

		font-family: 'Helvetica', serif;

	}



	.accordion{

		padding:4px;

		font-family: 'Helvetica', serif;

	}



	#accordion ul{

		-webkit-box-shadow:0 4px 10px #BDBDBD;

		-moz-box-shadow:0 4px 10px #BDBDBD;

		box-shadow:0 4px 10px #BDBDBD;

		-webkit-border-radius:5px;

		-moz-border-radius:5px;

		border-radius:5px;

		font-family: 'Helvetica', serif;

	}



	#accordion ul li a{

		background:#fff;

		border-bottom:1px solid #ccc;

		color:#000;

		font-family: 'Helvetica', serif;

	}



	.accordion{

		background:#fdfdfd;

		color:#000;

		font-family: 'Helvetica', serif;

	}



	.accordion:target{

		border-top:3px solid #EC8F30;

		font-family: 'Helvetica', serif;

	}



/*---------------------------------------

   DISCORD BOT TABLE LAYOUT

-----------------------------------------*/



	div.minimalistBlack {

		width: 100%;

		text-align: left;

		border-collapse: collapse;

		margin: 0px 20px;

	}

	

	.divTable.minimalistBlack .divTableCellC .divTableHeadD .divTableHeadU, .divTable.minimalistBlack .divTableHeadC .divTableHeadD .divTableHeadU {

		padding: 5px 4px 5px 4px;

	}

	.divTable.minimalistBlack .divTableBody .divTableCell {

		font-size: 13px;

		width:33%;

		font-family: 'Helvetica', serif;

	}

	

	.divTable.minimalistBlack .divTableRow:nth-child(even) {

		background: #F5F5F5;

	}

	

	.divTable.minimalistBlack .divTableHeading {

		background: #CFCFCF;

		background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);

		background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);

		background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);

		border-bottom: 2px solid #000000;

	}

	

	.divTable.minimalistBlack .divTableHeading .divTableHead {

		font-size: 15px;

		font-weight: bold;

		color: #000000;

		text-align: left;

	}



	.divTable{

		display: table;

	}



	.divTableRow {

		display: table-row;

		border-bottom: 1px solid #ddd;

	}



	.divTableHeading {

		display: table-header-group;

	}



	.divTableCellC, .divTableHeadC {

		display: table-cell;

		width: 20%;

		border-right: 1px solid #ddd;

		padding: 3px;

	}



	.divTableCellD, .divTableHeadD {

		display: table-cell;

		width: 50%;

		border-right: 1px solid #ddd;

		padding: 3px;

	}



	.divTableCellU, .divTableHeadU {

		display: table-cell;

		width: 30%;

		padding: 3px;

	}



	.divTableHeading {

		display: table-header-group;

	}



	.divTableFoot {

		display: table-footer-group;

	}



	.divTableBody {

		display: table-row-group;

	}



	#rcont {

		width: 100%;

		height: 100vh;

		max-width: 800px;

		border:1px solid lightgrey;

	}



	.section {

		clear: both;

		padding: 0px;

		margin: 0px;

	}



	.col {

		display: block;

		float:left;

		margin: 1% 0 1% 1.6%;

	}



	.col:first-child {

		margin-left: 0;

	}



	.group:before, .group:after {

		content:""; display:table;

	}



	.group:after {

		clear:both;

	}



	.group {

		zoom:1;

	}



	.span_3_of_3 {

		width: 100%;

	}



	.span_2_of_3 {

		width: 70%;

	}



	.span_1_of_3 {

		width: 20%;

	}



/*---------------------------------------

   MASONRY LAYOUT

-----------------------------------------*/



	*, *:before, *:after {

		box-sizing:  border-box !important;

	}



	.rowmasonry {

		-moz-column-width: 20em;

		-webkit-column-width: 20em;

		-moz-column-gap: 1em;

		-webkit-column-gap:1em; 

	  

	}



	.rowmasonry > .col-md-4 {

		display: inline-block;

		padding:  .33rem;

		width:  100%; 

		float:none;

	}



	.wellmasonry {	

		border-radius: 5px;

		border: 1px solid #E7E7E7;

		padding: 3px 3px 15px 20px;

		position:relative;

		display: block;

	}



	.wellmasonry p {

		padding-left: 10px;

		padding-top: 0px;

		padding-bottom: 0px;

		padding-right: 0px;

		margin: 0px;

	}

	

/*---------------------------------------

   MODALS

-----------------------------------------*/



	.discord {

		width: 100%;

		background-color: #7289DA;

		border: 1px solid black;

		text-align: center;

		margin: 20px 0px 0px 0px;

		padding: 10px;

		font-size: 24px;

	}

	

	.discord>a {

		color: #fff;

	}

	

	.modaltext {

		padding: 5px;

	}

	

/*---------------------------------------

   RANCOR STATS TABLES

-----------------------------------------*/	

	

	.stattable {

	}

	

	.stattablehead {

		border-bottom: 2px solid black;

		border-top: 2px solid black;

		padding: 3px;

	}

	

	.stattabledata {

		border-bottom: 1px solid #bbbbbb;

		border-right: 1px solid #bbbbbb;

		border-left: 1px solid #bbbbbb;

		padding: 3px;

	}

	

	

/*---------------------------------------

   RULES STYLINGS

-----------------------------------------*/		

	

	.rulescontent {

	}

	

	.rulescontent>img {

		display: block;

		margin: 0px auto 0px auto;

	}

	

	.rulescontent>div {

		margin-left: 40px;

	}

	

	.rulescontent>h5 {

		margin-left: 20px;

	}

	

	.rulescontent>span {

		font-weight: bold;

		font-size: 40px;

		color: #bbbbbb;

	}

	

	.joinbuttoncontainer {

		display: block;

		text-align: center;

		content-align: middle;

		margin-top: 80px;

	}

	

	.joinbutton {

		align: middle;

		font-size: 24px;

		border-radius: 8px;

		background-color: #EC8F30;

		border: 1px solid #bbb;

		padding: 30px;

		color: white;

	}

	

	.joinbutton:hover {

		background-color: white;

		color: #000;

		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */

		-moz-animation: fadein 2s; /* Firefox < 16 */

        -ms-animation: fadein 2s; /* Internet Explorer */

        -o-animation: fadein 2s; /* Opera < 12.1 */

        animation: fadein 2s;

	}

	

	

	

	

	





#section05 { 

	background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;

	}

	

.demo a {

  position: absolute;

  bottom: 0px;

  left: 50%;

  right: 50%;

  z-index: 2;

  margin-left: -30px;

  display: inline-block;

  -webkit-transform: translate(0, -50%);

  transform: translate(0, -50%);

  color: #aaa;

  font : normal 400 20px/1 'Oswald', sans-serif;

  letter-spacing: 0;

  text-decoration: none;

  transition: opacity .3s;

}

.demo a:hover {

  opacity: .5;

}



#section05 a {

  padding-top: 70px;

}

#section05 a span {

  position: absolute;

  top: 0;

  left: 50%;

  right: 50%;

  width: 24px;

  height: 24px;

  margin-left: 0px;

  border-left: 1px solid #fff;

  border-bottom: 1px solid #fff;

  -webkit-transform: rotate(-45deg);

  transform: rotate(-45deg);

  -webkit-animation: sdb05 1.5s infinite;

  animation: sdb05 1.5s infinite;

  box-sizing: border-box;

}

@-webkit-keyframes sdb05 {

  0% {

    -webkit-transform: rotate(-45deg) translate(0, 0);

    opacity: 0;

  }

  50% {

    opacity: 1;

  }

  100% {

    -webkit-transform: rotate(-45deg) translate(-20px, 20px);

    opacity: 0;

  }

}

@keyframes sdb05 {

  0% {

    transform: rotate(-45deg) translate(0, 0);

    opacity: 0;

  }

  50% {

    opacity: 1;

  }

  100% {

    transform: rotate(-45deg) translate(-20px, 20px);

    opacity: 0;

  }

}





/*---------------------------------------

   DISCORD AVS

-----------------------------------------*/	



	.discordoverlay {

		position: fixed; /* Sit on top of the page content */

		width: 100%; /* Full width (cover the whole page) */

		height: 100%; /* Full height (cover the whole page) */

		top: 0; 

		left: 0;

		right: 0;

		bottom: 0;

		background-color: rgba(0,0,0,0.5); /* Black background with opacity */

		z-index: 999; /* Specify a stack order in case you're using a different order for other elements */

	}



	.Vaderade {

		width: 128px;

		height: 128px;

		border: 1px solid black;

		-ms-transform: rotate(-45deg); /* IE 9 */

		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */

		transform: rotate(-45deg);

		text-align: right;

		vertical-align: text-bottom;

		float: left;

		background-image: url("https://cdn.discordapp.com/avatars/98571237969649664/448a4c20fd421a1fc7ac58dadfb57c9d.png");

	}



	.Vaderade>div {

		padding-right: 3px;

		font-size: 18px;

		color: #fff;

		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

		position: absolute;

		bottom: 0;

		right: 0;

		z-index: 9999;

	}





/*---------------------------------------

   CARDS

-----------------------------------------*/	





.btn {

  background-color: white;

  border: 1px solid #cccccc;

  color: #696969;

  padding: 0.5rem;

  text-transform: lowercase;

}

.btn--block {

  display: block;

  width: 100%;

}

.cards {

  display: flex;

  flex-wrap: wrap;

  list-style: none;

  margin: 0;

  padding: 0;

}

.cards__item {

  display: flex;

  padding: 1rem;

}

@media (min-width: 40rem) {

  .cards__item {

    width: 50%;

  }

}

@media (min-width: 56rem) {

  .cards__item {

    width: 33.3333%;

  }

}

.card {

	background-color: white;

	border-radius: 0.25rem;

	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

	display: flex;

	flex-direction: column;

	overflow: hidden;

}



.card:hover .card__image {

	filter: grayscale(0%);

	-webkit-transition: all 0.2s ease-in-out;

	-moz-transition: all 0.2s ease-in-out;

	-o-transition: all 0.2s ease-in-out;

	transition: all 0.2s ease-in-out;

}

.card__content {

  display: flex;

  flex: 1 1 auto;

  flex-direction: column;

  padding: 1rem;

}

.card__image {

  background-position: center center;

  background-repeat: no-repeat;

  background-size: cover;

  border-top-left-radius: 0.25rem;

  border-top-right-radius: 0.25rem;

  filter: grayscale(100%);

  overflow: hidden;

  height: 200px;

  position: relative;

  transition: filter 0.2s cubic-bezier(0.43, 0.41, 0.22, 0.91);

}

.card__image::before {

  content: "";

  display: block;

  padding-top: 56.25%;

}

@media (min-width: 40rem) {

  .card__image::before {

    padding-top: 66.6%;

  }

}



.card__image--alpha {

  background-image: url(../images/alpha.png);

}

.card__image--mando {

  background-image: url(../images/mando.png);

}

.card__image--ssl {

  background-image: url(../images/ssl.png);

}

.card__image--omega {

  background-image: url(../images/omega.png);

}

.card__image--gamma {

  background-image: url(../images/gamma.png);

}

.card__image--beta {

  background-image: url(../images/guilds-beta.jpg);

}

.card__image--dw {

  background-image: url(../images/dw.png);

}

.card__image--tau {

  background-image: url(../images/tau.png);

}
.card__image--guildstau {

  background-image: url(../images/guilds-tau.jpg);

}

.card__image--zeta {

  background-image: url(../images/SP.jpg);

}

.card__image--chi {

  background-image: url(../images/chi.png);

}

.card__image--psi {

  background-image: url(../images/psi.png);

}

.card__image--epsi {

  background-image: url(../images/epsi.png);

}

.card__image--lounge {

  background-image: url(../images/lounge.png);

}

.card__image--delta {

  background-image: url(../images/delta.png);

}


.card__image--discord {

  background-image: url(../guides/images/discord.png);

}

.card__image--tank {

  background-image: url(../guides/images/tank.png);

}

.card__image--rancor {

  background-image: url(../guides/images/rancor.png);

}

.card__image--newuser {

  background-image: url(../guides/images/new_user.png);

}

.card__image--tb {

  background-image: url(../guides/images/tb.png);

}

.card__image--ranks {

  background-image: url(../guides/images/ud.png);

}

.card__title {

  color: #696969;

  font-size: 1.5rem;

  font-weight: 300;

  letter-spacing: 0;

  text-transform: uppercase;

}

.card__text {

  flex: 1 1 auto;

  font-size: 1.2rem;

  line-height: 1.5;

  margin-bottom: 1.25rem;

}



































.guildbanner {

	width: 100%;

    height: auto;

	max-width: 590px;

	border-radius: 5px;

	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.6);

}











.anchor {

  display: block;

  height: 60px; /*same height as header*/

  margin-top: -60px; /*same height as header*/

  visibility: hidden;

}















table.commandstable {

  width: 100%;

  text-align: left;

  border-collapse: collapse;

  margin: 0px 10px;

}

table.commandstable td, table.commandstable th {

  border: 1px solid #aaa;

  padding: 3px 3px;

}

table.commandstable tbody td {

  font-size: 13px;

}

table.commandstable tr:nth-child(even) {

  background: #eee;

}

table.commandstable thead {

  background: #CFCFCF;

  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);

  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);

  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);

  border-bottom: 2px solid #000000;

}

table.commandstable thead th {

  font-size: 14px;

  font-weight: bold;

  color: #000000;

  text-align: left;

}

table.commandstable tfoot td {

  font-size: 14px;

}
