---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


  {% include head.html %}

  <body>

	<!-- NAVBAR  -->
	{% include navigation.html navigation=site.data.navigation %}
	
	<!-- PARALAX for home -->
	{% include scroll.html %}

  </body>

</html>
